.hero-avatar {
  position: relative;
  border: 2px solid gray;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    position: relative;
    image-rendering: pixelated;
    z-index: 200;
  }

  .hero-avatar__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/assets/effects/stress-status_high_01.png');
    background-position: center;
    z-index: 100;
  }
}
