.ticket {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.75rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  min-height: 6rem;
  gap: 0.5rem;

  -webkit-box-shadow: 3px 3px 10px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 3px 10px -8px rgba(66, 68, 90, 1);
  box-shadow: 3px 3px 10px -8px rgba(66, 68, 90, 1);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transition: transform 0.15s ease;

  &:active {
    transform: translateY(3px);
  }

  .ticket__title {
    font-weight: 400;
  }

  .ticket__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ticket__details__info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .ticket__type-tag {
        width: fit-content;
        border-radius: 0.25rem;
        padding: 0.15rem 0.5rem;

        span {
          color: white;
          font-weight: 800;
        }
      }
    }

    .ticket__details__progress {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      justify-content: flex-end;
      align-items: flex-end;

      span {
        font-size: 0.75rem;
      }

      div {
        width: 5rem;
        height: 1rem;
      }
    }
  }
}
