@use 'template' as *;
@use '../../../../../../styles/mixins.scss' as *;

.hero-card-simplified {
  @include flexbox($gap: 0.5rem);

  background-color: $bg-tertiary;
  border: 2px solid $border-default;
  padding: 0.25rem;

  .hero-card-simplified__description {
    @include flexbox($justify: space-between, $gap: 0.25rem);

    width: 100%;

    .hero-card-simplified__description-left {
      @include flexbox(column, flex-start, space-between, 0.25rem);

      .hero-card-simplified__description-left__lvl {
        @include flexbox($align: center, $gap: 0.25rem);

        font-size: 0.8rem;

        .hero-card-simplified__description-left__lvl-value {
          font-weight: bolder;
        }
      }
    }

    .hero-card-simplified__description-right {
      @include flexbox(column, flex-end, space-between, 0.25rem);

      height: 100%;

      .hero-card-simplified__description-right__role-badge {
        transform: scale(0.9);
        opacity: 0.9;
      }

      .hero-card-simplified__description-right__impact {
        @include flexbox($gap: 0.25rem);

        font-size: 0.8rem;
        font-style: italic;
        margin-right: 0.25rem;
      }
    }
  }
}
