<section class="hero-card-simplified">
  <app-hero-avatar [hero]="hero" />
  <div class="hero-card-simplified__description">
    <div class="hero-card-simplified__description-left">
      <span>{{ hero.name }} {{ hero.surname }}</span>
      <div class="hero-card-simplified__description-left__lvl">
        <span>Lvl:</span>
        <span class="hero-card-simplified__description-left__lvl-value">{{ hero.growth.lvl }}</span>
      </div>
    </div>
    <div class="hero-card-simplified__description-right">
      <app-tag [label]="hero.role" />
      <div class="hero-card-simplified__description-right__impact">
        <span>{{ impact.label }}</span>
        <span>{{ impact.value | numberFormat : 2 }}</span>
      </div>
    </div>
  </div>
</section>
