<section class="player-info">
  <div class="player-info__avatar">
    <img [src]="player.avatar" alt="player" />
  </div>
  <div class="player-info__summary">
    <span>{{ player.name }}</span>
    <div class="player-info__summary-progress">
      <div class="player-info__summary-progress__exp-bar">
        <span>{{ player.exp }} / {{ player.expToLevelUp }}</span>
        <app-progress-bar
          [maxValue]="player.expToLevelUp"
          [remaining]="remainingExp"
          [descending]="false"
          [fill]="'#79BAEC'"
          [displayPercentage]="false"
          [style.height.rem]="1"
        />
      </div>
      <div class="player-info__summary-progress__lvl-badge">
        <span>{{ player.lvl }}</span>
      </div>
    </div>
  </div>
</section>
