.player-info {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 2px solid lightgray;

  .player-info__avatar {
    min-width: 128px;
    min-height: 128px;
    border: 2px solid gray;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
    }
  }

  .player-info__summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    span {
      font-size: 1.25rem;
      font-weight: bolder;
    }

    .player-info__summary-progress {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      width: 100%;

      .player-info__summary-progress__exp-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 3rem;
        width: 100%;

        span {
          font-size: 0.75rem;
        }
      }

      .player-info__summary-progress__lvl-badge {
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        background-color: rgb(69, 88, 69);

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}
