.ticket-list {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .ticket-list__queue-counter {
    align-self: flex-end;
  }

  ul {
    list-style: none;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .ticket-list__hidden-counter {
      background-color: rgb(202, 202, 202);
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      align-self: flex-end;

      display: flex;
      justify-content: center;
    }
  }
}
