<section class="hero-card">
  <div class="hero-card__avatar">
    @if (hero.stats.stressFactor > 0.6) {
    <div class="hero-card__avatar-bg" [style.opacity]="opacity"></div>
    }
    <img [src]="hero.avatar" alt="hero" />
  </div>
  <div class="hero-card__summary">
    <div class="hero-card__summary-header">
      <span>{{ hero.name }}</span>
      <app-tag [label]="hero.role" />
      <app-stress-status-tag [hero]="hero" />
    </div>
    <div class="hero-card__summary-progress">
      <div class="hero-card__summary-progress__exp-bar">
        <span>{{ hero.growth.exp.toFixed() }} / {{ hero.growth.expToLevelUp }}</span>
        <app-progress-bar
          [maxValue]="hero.growth.expToLevelUp"
          [remaining]="remainingExp"
          [descending]="false"
          [fill]="'#79BAEC'"
          [displayPercentage]="false"
          [style.height.rem]="1"
        />
      </div>
      <div class="hero-card__summary-progress__lvl-badge">
        <span>{{ hero.growth.lvl }}</span>
      </div>
    </div>
  </div>
</section>
