@use 'template' as *;
@use '../../../../../../styles/mixins.scss' as *;

.hero-card {
  @include flexbox($gap: 0.5rem);

  background-color: $bg-tertiary;
  border: 2px solid $border-default;
  padding: 0.5rem;

  .hero-card__summary {
    @include flexbox(column, space-between);

    width: 100%;

    .hero-card__summary-header {
      @include flexbox(column, $gap: 0.25rem);

      span {
        font-size: 1.25rem;
        font-weight: bolder;
      }
    }

    .hero-card__summary-progress {
      @include flexbox($align: flex-end, $gap: 0.5rem);

      transform: translateY(-5%);
      width: 100%;

      .hero-card__summary-progress__exp-bar {
        @include flexbox(column, stretch, flex-end);

        height: 3rem;
        width: 100%;

        span {
          font-size: 0.75rem;
        }
      }

      .hero-card__summary-progress__lvl-badge {
        @include flexbox(center, center);

        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        background-color: $accent-soft;

        color: $text-primary;
        font-weight: bold;
      }
    }
  }
}
