.hero-card {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 2px solid lightgray;

  .hero-card__avatar {
    position: relative;
    min-width: 128px;
    min-height: 128px;
    border: 2px solid gray;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: relative;
      image-rendering: pixelated;
      z-index: 2;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/assets/effects/stress-status_high.png');
      background-size: cover;
      background-position: center;
      z-index: 1;
      transition: opacity 1s;
    }
  }

  .hero-card__summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .hero-card__summary-header {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      span {
        font-size: 1.25rem;
        font-weight: bolder;
      }
    }

    .hero-card__summary-progress {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      width: 100%;

      .hero-card__summary-progress__exp-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 3rem;
        width: 100%;

        span {
          font-size: 0.75rem;
        }
      }

      .hero-card__summary-progress__lvl-badge {
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        background-color: rgb(69, 88, 69);

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}
