.hero-card {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 2px solid lightgray;

  .hero-card__summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .hero-card__summary-header {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      span {
        font-size: 1.25rem;
        font-weight: bolder;
      }
    }

    .hero-card__summary-progress {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      width: 100%;

      .hero-card__summary-progress__exp-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 3rem;
        width: 100%;

        span {
          font-size: 0.75rem;
        }
      }

      .hero-card__summary-progress__lvl-badge {
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        background-color: rgb(69, 88, 69);

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}
