.hero-attribute {
  width: 48px;
  height: 48px;
  border: 2px solid lightgray;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  .hero-attribute__price {
    font-size: 0.5rem;
  }
}

.hero-attribute__disabled {
  background: lightgray;
  cursor: not-allowed;
  opacity: 0.5;
}
