@use 'template' as *;
@use '../../../../../../styles/mixins.scss' as *;

.hero-attribute {
  @include flexbox(column, $justify: space-between);

  width: 48px;
  height: 48px;
  border: 2px solid $border-strong;
  cursor: pointer;

  .hero-attribute__price,
  .hero-attribute__hero-name {
    font-size: 0.5rem;
  }

  .hero-attribute__hero-id {
    font-size: 0.4rem;
  }
}

.hero-attribute__disabled {
  background: $bg-elevated;
  cursor: not-allowed;
  opacity: 0.5;
}
