@use '../../../../styles/mixins.scss' as *;
@use 'template' as *;

.register {
  @include frame-default;
  @include flexbox(column, $align: flex-start);

  position: relative;
  z-index: 10;
  width: 60rem;
  background: $bg-primary;
  image-rendering: pixelated;

  .register__header {
    text-align: center;
    width: 100%;
    padding: 0.25rem;

    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: $text-primary;
    text-shadow: 2px 2px 0 #000;

    background: $bg-tertiary;
    border-bottom: 4px solid $border-default;
  }

  .register__container {
    @include flexbox($align: center, $gap: 2rem);

    padding: 1.5rem;
    width: 100%;

    > * {
      flex: 1;
    }

    .register__container-options {
      @include flexbox(row, center, left, $gap: 1rem);

      margin-left: 1rem;
      width: 100%;

      span {
        color: $text-primary;
      }
    }
  }

  .register__server-error {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;

    background-color: $alert-bg;
    border: 2px solid $alert-border;
    color: $alert-text;
  }
}
