<app-page>
  <app-lang-widget />
  <section class="register">
    <header class="register__header">{{ 'landing.register.create' | translate }}</header>
    <div class="register__container">
      <app-register-form
        (submitForm)="handleRegister($event)"
        [emailErrorMsg]="emailErrorMsg()"
      ></app-register-form>
      <div class="register__container-options">
        <span>{{ 'landing.register.or' | translate }}</span>
      </div>
    </div>
    @if (serverErrorMsg()) {
    <div class="register__server-error">
      <span>{{ serverErrorMsg() }}</span>
    </div>
    }
  </section>
</app-page>
