@use 'template' as *;

@mixin stripped-btn {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

@mixin flexbox($direction: row, $align: stretch, $justify: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin frame-default {
  border: 4px solid $border-default;
  box-shadow: 0 0 0 4px $border-subtle, 0 20px 60px rgba(0, 0, 0, 0.6);
}
