.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .game__container {
    display: flex;
    flex-direction: row;

    height: inherit;
    overflow: hidden;
  }
}
