@use '../../../../styles/mixins.scss' as *;
@use 'template' as *;

.hero-creator__container {
  @include frame-default;
  @include flexbox(column, $align: flex-start);

  z-index: 10;
  width: 60rem;
  background: $bg-primary;
  image-rendering: pixelated;

  .hero-creator__container-header {
    text-align: center;
    width: 100%;
    padding: 0.25rem;

    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: $text-primary;
    text-shadow: 2px 2px 0 #000;

    background: $bg-tertiary;
    border-bottom: 4px solid $border-default;
  }

  .hero-creator__container-content {
    @include flexbox($align: flex-start, $gap: 2rem);

    padding: 1.5rem;

    .hero-creator__container-content__form {
      @include flexbox(column, $align: center, $gap: 2rem);

      width: 12rem;

      .hero-creator__container-content__form-randomize {
        @include flexbox(column, center, center);

        position: relative;
        width: 100%;

        border: 4px solid $border-default;
        border-radius: 0.5rem 0.5rem 0 0;
        background: $bg-tertiary;

        .hero-creator__container-content__form-randomize-btn {
          @include flexbox(column);

          all: unset;
          cursor: pointer;

          transition: all 0.15s ease;

          .hero-creator__container-content__form-randomize-btn-dice {
            width: 128px;
            height: 128px;
            image-rendering: pixelated;
          }

          &:hover {
            transform: scale(1.05);
            filter: brightness(1.1);
          }
        }

        .hero-creator__container-content__form-randomize-label {
          background: $accent-primary;
          color: $text-dark-strong;
          width: 100%;
          padding: 0.75rem;
          transform: scale(1.075) translateY(0.25rem);
          border-radius: 0.25rem;

          text-align: center;
          font-weight: 500;
        }
      }

      .hero-creator__container-content__form-selectors {
        @include flexbox(column, stretch, flex-start, 1rem);
        width: 100%;
      }
    }

    .hero-creator__container-content__preview {
      background: $bg-tertiary;
      border: 4px solid $border-default;
      border-radius: 0.5rem;

      padding: 1.5rem;
    }
  }
}

.hero-creator__start-button {
  @include stripped-btn;

  z-index: 10;
  background-color: $button-light-primary;
  color: $text-dark-primary;

  padding: 0.35rem 1.25rem;
  font-size: 1.25rem;

  border-radius: 0.5rem;
  cursor: pointer;

  transition: all 0.15s ease;

  &:hover {
    background-color: $button-light-hover;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}
