@use '../../../../styles/mixins.scss' as *;
@use 'template' as *;

.hero-creator__container {
  @include frame-default;
  @include flexbox(column, $align: flex-start);

  z-index: 10;
  width: 60rem;
  background: $background-color__dark-brighter;
  image-rendering: pixelated;

  .hero-creator__container-header {
    text-align: center;
    width: 100%;
    padding: 0.25rem;

    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: $font-color__light-primary;
    text-shadow: 2px 2px 0 #000;

    background: $background-color__dark-primary;
    border-bottom: 4px solid $border-color__dark-primary;
  }

  .hero-creator__container-content {
    @include flexbox($align: flex-start, $gap: 2rem);

    padding: 1.5rem;

    .hero-creator__container-content__form {
      @include flexbox(column, $align: center, $gap: 2rem);

      width: 12rem;

      .hero-creator__container-content__form-randomize {
        @include flexbox(column, center, center);

        position: relative;
        width: 100%;

        border: 4px solid $border-color__dark-brighter;
        border-radius: 0.5rem 0.5rem 0 0;

        .hero-creator__container-content__form-randomize-btn {
          @include flexbox(column);

          all: unset;
          cursor: pointer;

          transition: all 0.15s ease;

          .hero-creator__container-content__form-randomize-btn-dice {
            width: 128px;
            height: 128px;
            image-rendering: pixelated;
          }

          &:hover {
            transform: scale(1.05);
          }
        }

        .hero-creator__container-content__form-randomize-label {
          background: $font-color__light-primary;
          width: 100%;
          padding: 0.75rem;
          transform: scale(1.1);
          border-radius: 0.25rem;

          text-align: center;
          font-weight: 400;
        }
      }

      .hero-creator__container-content__form-selectors {
        @include flexbox(column, stretch, flex-start, 1rem);

        width: 100%;
      }
    }

    .hero-creator__container-content__preview {
      background: rgba(255, 255, 255, 0.05);
      border: 4px solid $border-color__dark-brighter;
      border-radius: 0.5rem 0.5rem;

      padding: 1.5rem;
    }
  }
}

.hero-creator__start-button {
  @include stripped-btn;

  z-index: 10;
  background-color: $font-color__light-primary;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;

  transition: all 0.15s ease;

  &:hover {
    background-color: #e6c17d;
  }
}
