<app-page>
  <app-lang-widget />
  <section class="hero-creator__container">
    <app-modal-header>{{ 'creator.title' | translate }}</app-modal-header>
    <div class="hero-creator__container-content">
      <div class="hero-creator__container-content__form">
        <div class="hero-creator__container-content__form-randomize">
          <button
            class="hero-creator__container-content__form-randomize-btn"
            (click)="getRandomHero()"
          >
            <img
              src="/assets/images/shared/dice.png"
              class="hero-creator__container-content__form-randomize-btn-dice"
            />
          </button>
          <span class="hero-creator__container-content__form-randomize-label">{{
            'creator.form.random' | translate
          }}</span>
        </div>
        <div class="hero-creator__container-content__form-selectors">
          <app-category-selector
            [title]="originLabel | translate"
            [options]="originOptions"
            (valueChange)="origin.set($event)"
          />
          <app-category-selector
            [title]="genderLabel | translate"
            [options]="genderOptions"
            (valueChange)="gender.set($event)"
          />
        </div>
      </div>
      <div class="hero-creator__container-content__preview">
        <app-creator-preview />
      </div>
    </div>
  </section>
  <button class="hero-creator__start-button" (click)="startGame()">
    {{ 'creator.startButton' | translate }}
  </button>
</app-page>
