.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding: 0.5rem;
    height: 3rem;
  }

  .app__container {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 100%;

    .app__shop {
      width: 30%;
      padding: 0.5rem;
      max-height: calc(100vh - 3rem);
    }

    .app__impact-area {
      width: 30%;
      padding: 0.5rem;
      height: 100%;
    }
  }
}
