@use 'template' as *;

.creator-preview {
  display: flex;
  gap: 1rem;

  .creator-preview__avatar {
    position: relative;
    overflow: hidden;
    width: 256px;
    height: 256px;

    background: $bg-elevated;
    border: 4px solid $border-strong;
    border-radius: 0.5rem;

    img {
      width: 256px;
      height: 256px;
      position: relative;
      image-rendering: pixelated;
    }
  }

  .creator-preview__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 20rem;
    color: $text-primary;

    .creator-preview__details__full-name {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .creator-preview__details__education {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 0.75rem;
        opacity: 0.5;
        font-weight: bold;
      }

      span {
        white-space: normal;
        word-break: normal;
        overflow-wrap: break-word;
      }
    }
  }
}
