.actions-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100%;
  width: 65rem;

  .actions-panel__content {
    display: flex;
    flex-direction: column;

    width: inherit;
    height: inherit;
  }
}
