<div class="hero-actions">
  <div class="hero-actions__overview">
    <div class="hero-actions__overview-info">
      <app-hero-card [hero]="heroes[selectedHeroId()]" />
      <ul class="hero-actions__overview-info-tabs">
        @for(tab of tabs; track tab.id) {
        <li (click)="switchTab(tab)">{{ tab.title }}</li>
        }
      </ul>
      <div>
        <ng-container
          *ngComponentOutlet="activeTab().component; inputs: { hero: selectedHero }"
        ></ng-container>
      </div>
    </div>
    <ul class="hero-actions__overview-hero-list">
      @for (hero of heroes; track hero.id) {
      <li (click)="selectHero(hero.id)">
        <app-hero-card [isSimplified]="true" [hero]="hero" />
      </li>
      }
      <li class="hero-actions__overview-hero-list__hire-button">
        <button (click)="hire()">Hire</button>
      </li>
    </ul>
  </div>
</div>
