<div class="hero-actions">
  <div class="hero-actions__overview">
    <div class="hero-actions__overview-info">
      <app-hero-card-regular [hero]="heroes[selectedHeroId()]" />
      <ul class="hero-actions__overview-info-tabs">
        @for(tab of heroTabs; track tab.id) {
        <li (click)="switchTab(tab)">{{ tab.title | translate }}</li>
        }
      </ul>
      <div>
        <ng-container
          *ngComponentOutlet="heroActiveTab().component; inputs: { hero: selectedHero }"
        ></ng-container>
      </div>
    </div>
    <app-hero-list (selectedHeroId)="onHeroSelected($event)" />
  </div>
</div>
