<div class="hero-actions">
  <div class="hero-actions__overview">
    <div class="hero-actions__overview-info">
      <app-player-info />
      <ul class="hero-actions__overview-info-tabs">
        @for(tab of tabs; track tab.id) {
        <li (click)="switchTab(tab)">{{ tab.title }}</li>
        }
      </ul>
      <div>
        <ng-container *ngComponentOutlet="activeTab().component"></ng-container>
      </div>
    </div>
    <div class="hero-actions__overview-equipment">
      <span>Equipment coming soon</span>
    </div>
  </div>
</div>
