@use '../../../../../styles/mixins.scss' as *;
@use 'template' as *;

.register-form {
  @include flexbox(column, $gap: 1rem);

  padding: 2rem;

  border-radius: 16px;
  background: $background-color__dark-darker;
  border: 2px solid $border-color__light-brighter;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(212, 178, 122, 0.3) inset;

  color: $font-color__light-primary;

  .register-form__field {
    @include flexbox(column, $gap: 0.5rem);

    position: relative;
    width: 100%;

    label {
      opacity: 0.9;
    }

    input {
      width: 75%;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      border: 2px solid $border-color__light-primary;
      background: $background-color__input-dark;

      color: $font-color__light-primary;
      font-size: 0.95rem;

      transition: all 0.2s ease;

      &::placeholder {
        color: $font-color__light-form-placeholder;
      }

      &::focus {
        outline: none;
        border-color: $border-color__light-brighter;

        box-shadow: 0 0 6px rgba(240, 207, 149, 0.7);
      }
    }

    .register-form__field-error {
      @include flexbox($justify: center);

      position: absolute;
      top: 105%;
      width: 100%;

      font-size: 0.8rem;
    }
  }

  .register-form__submit-btn {
    margin-top: 1rem;

    padding: 0.75rem 1rem;

    border-radius: 0.75rem;
    border: none;

    background: linear-gradient(145deg, #d4b27a, #b8965e);

    color: $font-color__dark-primary;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;

    transition: all 0.2s ease;

    &:disabled {
      cursor: not-allowed;

      opacity: 0.6;
    }
  }
}
