<form class="register-form" #registerForm="ngForm" (ngSubmit)="submit(registerForm)">
  <div class="register-form__field">
    <label for="email">{{ 'landing.register.email' | translate }}</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      email
      pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
      ngModel
      #email="ngModel"
    />

    @if (email.invalid && registerForm.submitted) {
    <div class="register-form__field-error">{{ EMAIL_ERROR }}</div>
    }
  </div>
  <div class="register-form__field">
    <label for="password">{{ 'landing.register.password' | translate }}</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      minlength="8"
      ngModel
      #password="ngModel"
    />
  </div>
  <div class="register-form__field">
    <label for="confirmPassword">{{ 'landing.register.repeat' | translate }}</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
      ngModel
      #confirmedPassword="ngModel"
    />
    @if (passwordError) {
    <div class="register-form__field-error">{{ passwordError }}</div>
    }
  </div>
  <button class="register-form__submit-btn" type="submit" [disabled]="registerForm.invalid">
    {{ 'landing.register.register' | translate }}
  </button>
</form>
