@use '../../../../../styles/mixins/flexbox.scss' as *;

.register-form {
  @include flexbox(column, $gap: 1rem);

  padding: 2rem;

  border-radius: 16px;
  background: rgba(40, 25, 15, 0.85);
  border: 2px solid #d4b27a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(212, 178, 122, 0.3) inset;

  color: #f3d7a2;

  .register-form__field {
    @include flexbox(column, $gap: 0.5rem);

    width: 100%;

    label {
      opacity: 0.9;
    }

    input {
      width: 75%;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      border: 2px solid #a98755;
      background: rgba(25, 15, 10, 0.9);

      color: #f3d7a2;
      font-size: 0.95rem;

      transition: all 0.2s ease;

      &::placeholder {
        color: rgba(243, 215, 162, 0.5);
      }

      &::focus {
        outline: none;
        border-color: #f0cf95;

        box-shadow: 0 0 6px rgba(240, 207, 149, 0.7);
      }
    }
  }

  .register-form__submit-btn {
    margin-top: 1rem;

    padding: 0.75rem 1rem;

    border-radius: 0.75rem;
    border: none;

    background: linear-gradient(145deg, #d4b27a, #b8965e);

    color: #2a1a10;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;

    transition: all 0.2s ease;
  }
}
