<section class="global-stats-overview">
  <h4>GLOBAL STATISTICS OVERVIEW</h4>
  <ul class="global-stats-overview__list">
    <li class="global-stats-overview__list-item">
      <p>Playtime</p>
      <span>{{ statistics.playtime.total | timeFormat }}</span>
    </li>
    <li class="global-stats-overview__list-item">
      <p>Total clicks</p>
      <span>{{ statistics.impact.clicks }}</span>
    </li>
    <li class="global-stats-overview__list-item">
      <p>Total money earned</p>
      <span>{{ statistics.money.earned | number : '1.0-2' }}$</span>
    </li>
    <li class="global-stats-overview__list-item">
      <p>Total money spent</p>
      <span>{{ statistics.money.spent | number : '1.0-2' }}$</span>
    </li>
    <li class="global-stats-overview__list-item">
      <p>Finished tickets</p>
      <span>{{ statistics.tickets.finished }}</span>
    </li>
    <li class="global-stats-overview__list-item">
      <p>Recruited heroes</p>
      <span>{{ statistics.heroes.recruited }}</span>
    </li>
  </ul>
</section>
