.hero-stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .hero-stats__list {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    .hero-stats__list-item {
      display: flex;
      justify-content: space-between;
      width: 100%;

      span:first-of-type {
        font-style: italic;
      }
    }
  }
}
