.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  border: 2px solid rgb(22, 22, 22);
  border-radius: 0.5rem;
  padding: 0.15rem 0.3rem;

  .tag__label {
    font-size: 0.9rem;
    font-weight: bold;
  }
}
