:host {
  width: 100%;
  padding: 0.5rem;
}

.player-tab {
  display: flex;
  flex-direction: column;
  height: 100%;

  .player-tab__overview {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .player-tab__overview-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 0.5rem;
    }

    .player-tab__overview-equipment {
      flex: 1;
    }
  }
}
